.left-part-hero{
  animation: slide-in-hero 0.3s ease-in-out;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh 0;
  width: 50%;
  height: 100%;
}


@keyframes slide-in-hero {
  0%{
    opacity: 0;
    transform: translateY(+60%);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

.hero-logo{
  animation: slide-in-logo 0.3s ease-in-out forwards;
  opacity: 0;
  animation-delay: 0.3s;
  display: block;
  align-self: center;

  height: 60vmin;
  width: 50%;
}

@keyframes slide-in-logo {
  0%{
    opacity: 0;
    transform: translateX(60%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
.title{
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 7vh;
  line-height: 1.5em;
}

.sub-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 3vh;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.58);
}

.lets-eat{
  cursor: pointer;
  user-select: none;

  margin-top: 3vmin;
  display: flex;
  flex-direction: row;
  gap: 0.8vmin;
  justify-content: center;
  align-items: center;
  padding: 2vmin 4vmin;

  width: 40vmin;
  background: #020075D4;
  border-radius: 60px;

  border: none;
}

.lets-eat-text{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 5.5vmin;
  line-height: 1.5em;

  color: #FFFFFF;
}

.knife-fork{
  display: block;
  height: 5.5vmin;
}

#hero{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12vmin;
}

@media screen and (max-width: 720px){
  #hero{
    padding: 0 10vmin;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .hero-logo{
    height: auto;
    align-self: center;
    width: 100vmin;
  }

  .left-part-hero{
    width: 100%;
    align-items: center;
    text-align: center;
  }
}