.main-heading{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;  
  font-size: 6vmin;
  line-height: 1.5em;

  color: rgba(2, 0, 117, 0.83);
}

.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vmin 5vmin;
  gap: 3vmin;
}

.nav-item{
  font-size: 3vmin;
  cursor: pointer;
  user-select: none;

  display: inline-block;
  position: relative;
}

.nav-item::after{
  background-color: black;

  content: '';
  position: absolute; 
  width: 100%;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  height: 2px;

  transform-origin: bottom right;
  transition: transform 0.2s ease-in-out;
}

.nav-item:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hamburger{
  margin-left: auto;
  height: 80%;
  width: auto;

  visibility: hidden;
  user-select: none;
  display: block;
  background: none;
  border: none;
}

.hamburger > img{
  height: 100%;
  width: auto;
  vertical-align: middle;
}


@media screen and (max-width: 720px){
  .nav-links{
    display: none;
  }

  .hamburger{
    visibility: visible;
  }

  .nav-links.active{
    display: block;
  }
}
