.main-heading{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;  
  font-size: 30px;
  line-height: 45px;

  color: rgba(2, 0, 117, 0.83);
}

.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
  gap: 20px;
}

.nav-item{
  cursor: pointer;
  user-select: none;

  display: inline-block;
  position: relative;
}

.nav-item::after{
  background-color: black;

  content: '';
  position: absolute; 
  width: 100%;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  height: 2px;

  transform-origin: bottom right;
  transition: transform 0.2s ease-in-out;
}

.nav-item:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;

}

