@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

#nav{
  box-sizing: border-box;
  display: flex;
  width: 100% !important;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

#hero{
  animation: slide-in-hero 0.5s ease-in-out forwards;

  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}

@keyframes slide-in-hero {
  0%{
    opacity: 0;
    transform: translateY(+100%);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

@keyframes slide-out-hero {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateX(-100%);
  }
}

body{
  box-sizing: border-box;
  background: url('../blue-snow.png');
  
  display: flex;
  flex-direction: column;
  gap: 15px;

  overflow-y: scroll;
  padding: 50px 0;
}

body, html{
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
}